* {
  font-family: 'Ubuntu', sans-serif;
  margin: auto auto;
}

.hidden {
 display: none;
}

.visible {
 display: block;
}

.tab {
 overflow: hidden;
 border: none;
 background-color: aliceblue;
 margin: 0px; 
 border-radius: 10px;
}

.tab button {
 background-color: inherit;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 10px 15px;
 transition: 0.3s;
 font-size: medium;
}

.tab button:hover {
  background-color: #87ceeb99;
}

.tab button.active {
 background-color: skyblue;
}

.tabcontent {
 display: none;
 border: 1px solid whitesmoke;
 margin-top: 0px;
 padding: 0px;
 animation: fadeEffect .3s;
 background: rgb(254,254,254);
 border-radius: 10px;
 color: black;
}

.tabcontent text {
  right: 20px;
}
